:root {
  font-size: 10px;
  --color-red: 0 78% 62%;
  --color-cyan: 180 62% 55%;
  --color-orange: 34 97% 64%;
  --color-blue: 212 86% 64%;
  --color-dark: 234 12% 34%;
  --color-white: 0 0% 100%;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #fafafa;
  font-family: "Poppins", sans-serif;
}

.flex {
  display: flex;
}

.header {
  margin: 8rem auto 0;
  color: var(--color-dark);
  text-align: center;
  max-width: 54rem;
}
.header .title-hook {
  font-size: 2.4rem;
  font-weight: 200;
  margin-bottom: 1.6rem;
}
.header .title-hook span {
  font-weight: 600;
  display: block;
}
@media screen and (min-width: 600px) {
  .header .title-hook {
    font-size: 3.6rem;
  }
}
.header p {
  font-size: 1.5rem;
}

.container {
  padding: 0 3.2rem;
}

.card-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 7.6rem auto;
  gap: 2rem;
}
.card-container .card-item {
  animation: 0.5s fadeIn linear;
  border-top: 0.4rem solid;
  padding: 2.8rem;
  background-color: hsl(var(--color-white));
  border-radius: 0.8rem;
  box-shadow: 0 1.5rem 3rem -1.1rem hsl(var(--color-dark)/0.5);
  max-width: 35rem;
  min-width: 31rem;
  width: 100%;
}
.card-container .card-item h2 {
  font-size: 2rem;
}
.card-container .card-item p {
  font-size: 1.3rem;
  color: hsl(var(--color-dark)/0.5);
  margin-bottom: 3.3rem;
}
.card-container .card-item img {
  margin-left: auto;
}
.card-container > :nth-child(1) {
  border-top-color: hsl(var(--color-cyan));
}
.card-container > :nth-child(2) {
  border-top-color: hsl(var(--color-red));
}
.card-container > :nth-child(3) {
  border-top-color: hsl(var(--color-orange));
}
.card-container > :nth-child(4) {
  border-top-color: hsl(var(--color-blue));
}

@media screen and (min-width: 600px) {
  .card-container {
    margin: 7.6rem auto;
    gap: 3rem;
    max-width: 115rem;
  }
  .card-container .card-item {
    animation: 0.5s fadeIn linear;
    border-top: 0.4rem solid;
    padding: 2.8rem;
    background-color: hsl(var(--color-white));
    border-radius: 0.8rem;
    box-shadow: 0 1.5rem 3rem -1.1rem hsl(var(--color-dark)/0.5);
  }
  .card-container .card-item h2 {
    font-size: 2rem;
  }
  .card-container .card-item p {
    font-size: 1.3rem;
    color: hsl(var(--color-dark)/0.5);
    margin-bottom: 3.3rem;
  }
  .card-container .card-item img {
    margin-left: auto;
  }
  .card-container > :nth-child(1) {
    grid-row: 2/2;
    border-top-color: hsl(var(--color-cyan));
  }
  .card-container > :nth-child(2) {
    grid-column: 2/2;
    border-top-color: hsl(var(--color-red));
  }
  .card-container > :nth-child(3) {
    grid-column: 2/2;
    border-top-color: hsl(var(--color-orange));
  }
  .card-container > :nth-child(4) {
    grid-column: 3;
    grid-row: 1/span 2;
    border-top-color: hsl(var(--color-blue));
  }
}
@media screen and (min-width: 1174px) {
  .card-container > :nth-child(1) {
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateY(5deg) translateY(50%);
  }
  .card-container > :nth-child(1):hover {
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateY(0) translateY(50%);
  }
  .card-container > :nth-child(3) {
    order: 2;
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateX(5deg);
  }
  .card-container > :nth-child(3):hover {
    transform: perspective(35rem) rotateY(0);
  }
  .card-container > :nth-child(2) {
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateX(-5deg);
  }
  .card-container > :nth-child(2):hover {
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateY(0);
  }
  .card-container > :nth-child(4) {
    order: 1;
    transition: transform 0.5s ease;
    transform: perspective(35rem) rotateY(-5deg) translateY(50%);
  }
  .card-container > :nth-child(4):hover {
    transform: perspective(35rem) rotateY(0) translateY(50%);
  }
}
footer {
  text-align: center;
  font-size: 1.8rem;
}
footer .footer-link {
  padding: 0 0.5rem;
  color: hsl(var(--color-blue));
  position: relative;
  text-decoration: none;
}
footer .footer-link::after {
  content: "";
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(var(--color-orange));
  height: 0.2rem;
  width: 100%;
  transform-origin: center;
  transform: scale(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
footer .footer-link:focus::after,
footer .footer-link:hover::after {
  opacity: 1;
  transform: scale(1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
